:root {
  --white: #ffffff;
  --grey: #808080;
  --black: #212429;
  --yellow: #FEC62E;
}

body {
  font-family: 'Roboto', sans-serif;
}

.hero {
  background-image: linear-gradient(to top,rgba(255, 255, 255, .2), transparent), url(../images/patron-1.png);
  height: 350px;
}

h1 {
  color: var(--black);
}

.section-content {
  counter-reset: titleList;
}

.section-content h3 {
  counter-increment: titleList;
}

.section-content h3:before {
  content: counter(titleList);
}

.section-content h3::after {
  display: block;
  content: "";
  width: 32px;
  height: 4px;
  background-color: var(--black);
}

ol li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-top: 2px solid currentColor;
  border-right: 2px solid currentColor;
  rotate: 45deg;
  opacity: .8;
}

ol li {
  list-style: none;
}

ol li a {
  margin-left: 10px;
}