
:root { 
  --white: #ffffff; 
  --grey: #808080; 
  --black: #212429; 
  --yellow: #FEC62E;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1{
  color: var(--black);
}

ol li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-top: 2px solid currentColor;
  border-right: 2px solid currentColor;
  rotate: 45deg;
  opacity: .8;
}

ol li {
  list-style: none;
}

ol li a {
  margin-left: 10px;
}