:root {
    --white: #ffffff;
    --grey30: #212121;
    --grey20: #212429;
    --grey10: #424242;
    --yellow: #FEC62E;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--white);
  }
  
  .versions a:hover {
    border-radius: .5rem;
    background-color: var(--grey30);
    color: var(--white)
  }
  
  header {
    font-size: 0.875rem;
  }
  
  header nav a {
    padding-inline-start: .5rem;
    padding-block: 0.5rem;
    display: block;
    color: var(--grey10);
    text-decoration: none;
  }
  
  header ul,
  header ol,
  nav li {
    color: var(--grey10);
  }
  
  nav details summary {
    color: var(--grey10);
    font-weight: 400;
    line-height: 1.5rem;
  }

  .header > .wrapper {
    padding-inline-start: 0;
  }
  
  .header-content {
    position: relative;
  }
  
  header nav p {
    margin-block-start: 0.5rem;
    color: var(--grey30);
  }
  
  nav ul {
    padding-inline-start: 0;
    list-style: none;
  }
  
  details ol li a {
    padding-inline-start: 0;
  }
  
  .wrapper {
    padding-inline: 1rem;
  }
  
  h1,
  h2 {
    font-weight: 400;
    color: var(--grey10);
  }
  
  h1 {
    font-size: 2rem;
    margin-block: 4rem 0.875rem;
  }
  
  p {
    margin-block-start: 1rem;
    color: var(--grey10);
  }
  
  h1+p {
    margin-block-end: 2.5rem;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-block: 2.5rem 2.5rem;
  }
  
  h3 {
    font-weight: 400;
    color: var(--grey30);
    font-size: 1.25rem;
  }
  
  hr {
    border: 0.0625rem solid var(--white10);
  }
  
  pre {
    overflow: auto;
    border-radius: 0.5rem;
    color: var(--white30);
    background: #e5e5e5;
    padding: 1rem;
    font-family: "Nunito";
    line-height: 1.5rem;
  }
  
  blockquote {
    color: var(--grey10);
    font-size: 1rem;
    padding-inline: 1rem;
    margin: 2rem 0;
    background-color: var(--white10);
    border-inline-start: .25rem solid var(--grey30);
    margin-inline-start: 0;
  }
  
  blockquote>p {
    color: var(--white30);
  }
  
  blockquote span {
    color: #616161;
  }
  
  blockquote span::before {
    content: "-";
  }
  
  .section-content {
    margin-block-start: 7.5rem;
    counter-reset: titleList;
  }
  
  .section-content:first-of-type {
    margin-block-start: 0;
  }
  
  .section-content+hr {
    display: none;
  }
  
  .section-content img {
    display: block;
    margin-block-start: 2.5rem;
    max-inline-size: 100%;
  }
  
  .section-content h3 {
    color: var(--grey10);
    counter-increment: titleList;
    padding-block-end: 0.5rem;
  }
  
  .section-content h3::before {
    content: counter(titleList, decimal) ". ";
  }
  
  .section-content:nth-of-type(n+2) h3::before {
    all: initial;
  }
  
  .section-content ol li {
    margin-block-end: 1rem;
    line-height: 1.5rem;
    color: var(--grey10);
  }
  
  .section-content ul li {
    color: var(--grey10);
    margin-block-end: 1rem;
  }
  
  .section-content ul,
  .section-content ol,
  nav ol {
    padding-inline-start: 1.5rem;
  }
  
  .slider-container {
    display: block;
    overflow: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
    font-size: 0;
  }
  
  .video {
    display: inline-block;
    width: 100%;
    height: auto;
  }
  
  .slider-bullet-list {
    margin-block-start: 0.625rem;
    text-align: center;
  }
  
  .slider-bullet {
    display: inline-block;
    inline-size: 1rem;
    block-size: 1rem;
    background: #4242423b;
    border-radius: 50%;
    margin-inline-end: 0.5rem;
  }
  
  .slider-bullet:hover {
    background: #424242;
  }
  
  p>a {
    color: #000000;
  }
  
  .form input {
    box-sizing: border-box;
    border: 0.0625rem solid #616161;
    inline-size: 100%;
    border-radius: 5.625rem;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    display: block;
    margin-block: 1rem;
    color: var(--white30);
  }
  
  .form input::placeholder {
    color: var(--white20);
  }
  
  .form span {
    display: flex;
    position: relative;
  }
  
  .form span input {
    margin-block-start: 0;
  }
  
  .form input[type="submit"] {
    box-sizing: border-box;
    inline-size: auto;
    background: #000000;
    position: absolute;
    inset-inline-end: 0;
    color: var(--white);
    cursor: pointer;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block-start: 2.5rem;
    block-size: 10.875rem;
    background-color: var(--grey20);
  }
  
  .container-footer {
    text-align: center;
  }
  
  .container-footer p {
    font-size: 1.5rem;
    color: var(--white);
  }
  
  @media screen and (min-width: 1440px) {
    header {
      color: var(--white30);
      font-size: 0.875rem;
      inline-size: 11.75rem;
    }
  
    header p,
    header a,
    header li {
      color: var(--grey10);
    }
  
    .header {
      inset-block-start: 0;
    }
  
    .wrapper {
      max-inline-size: 56.25rem;
      margin: auto;
    }
  
  }
  
  @media screen and (min-width: 768px) {
    h1,
    h2 {
      color: var(--grey30);
    }
  
    h1 {
      font-size: 4rem;
      margin-block: 4rem 0.875rem;
    }
  
    h3 {
      font-size: 2rem;
      color: var(--grey30);
      background-color: var(--white);
      margin-block: 1rem;
      position: sticky;
      inset-block-start: 0;
    }
  
    pre {
      overflow: auto;
      border-radius: 0.5rem;
      color: var(--white30);
      background: #e5e5e5;
      padding: 2.5rem;
      font-family: "Nunito";
      line-height: 1.5rem;
    }
  
    blockquote {
      font-size: 1.5rem;
      padding-inline: 1.5rem;
      margin: 2rem 0;
      background-color: var(--white10);
      border-inline-start: .25rem solid var(--grey30);
    }
  
    .form {
      inline-size: 90%;
    }
  
    .form input {
      box-sizing: border-box;
      border: 0.0625rem solid #616161;
      inline-size: 50%;
      border-radius: 5.625rem;
      padding: 0.75rem 1rem;
      font-size: 1rem;
      display: inline-block;
      margin-block: 1rem;
      color: var(--white30);
    }
  
    .form input::placeholder {
      color: var(--white20);
    }
  
    .form span input {
      inline-size: 100%;
    }
  
    .form span {
      inline-size: 49%;
      display: inline-block;
    }
  
    .footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      block-size: 10.875rem;
      background-color: var(--grey20);
    }
    
    .container-footer {
      text-align: center;
    }
    
    .container-footer p {
      font-size: 2rem;
      color: var(--white);
    }
    
  }